/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat',sans-serif;
    margin: 0;
    background-color: var(--main-color);
    line-height: 1.6;
    text-rendering:optimizeLegibility;
    color: rgb(223, 223, 223);
}
h1,h2,h3,h4,p,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .6rem;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(92, 91, 91);
    outline: thin solid #222;
}
:root {
    --main-color: #24282F;
    --header-color: #171A21;
    --secondary-color: #101822;
    --header-text: #C5C3C0;
  }
header{
    justify-content: center;
    display: flex; 
    flex-direction:row-reverse;
    padding: 2rem;
    background-color: var(--header-color);
}
header h1{
    padding: .6rem;
    /* border: .1rem solid #000; */
    /* margin-left: 1rem; */
    color: var(--header-text);
}
header img{
    display: flex;
    max-width: 25rem;
}
section h2{
    text-align: center;
    padding-top: 4rem;
    color: #FFF;
}
 /* ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 120rem;
    margin: 0 auto;
}
 ul li{
    margin: 0 auto;
    padding: 1rem;
    cursor: pointer;
} */
main .grid-picture-large{
    display:  grid;
    max-width: 120rem;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
}
ul figure{
    position: relative;
}
ul figure .material-icons{
    vertical-align: -.4rem;
}
footer p{
    text-align: center;
    padding-bottom: 5rem;
    margin: 0 auto;
}

ul figure{
    margin: 1rem;
}
ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
ul figure:hover figcaption{
    transform: scale(1);
}

/* modale */
.parent-modale{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 50rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;  
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #333;
    cursor: pointer;
}
/* formulaire */
main form input{
    width: 100%;
    
}
form input{
    background-color: #3b3b3b;
    border: none;
    border-radius: 0.3rem;
    color: #cccccc;
    padding: 1rem;
    width: 60vw;
    /* margin: 0 auto; */
}
form input:hover{
    background-color: #505050;
    transition:all .1s ease-out;
}
form select{
    cursor: pointer;
}
::placeholder {
    color: #cccccc;
}
form input[type="submit"]{
    background-color: #3b3b3b;
    color:#FFF;
    cursor:grab;
    margin-top: 3rem;
    padding: 1.5rem;
    transition:all .2s ease-out;
}
form input[type="submit"]:hover{
    background-color: #505050;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.79);
}
section form{
    width: 35rem;
    margin: 5rem auto;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
    padding: 5rem;
}
main a{
    color: white;
    background-color: var(--secondary-color);
    display: block;
	margin: 5rem auto;
	padding: 1.5rem;
	text-align: center;
	max-width: 35rem;
}
form a{
    color: white;
    background-color: var(--secondary-color);
    display: block;
	margin: 2rem auto;
	text-align: center;
}
.inscrip{
    color: white;
    background-color: var(--secondary-color);
    display: block;
	margin: 5rem auto;
	padding: 1.5rem;
	text-align: center;
	max-width: 35rem;
}
form h2 {
    margin: 0 0 2rem;
}
form h3{
    margin: 0 0 2rem;
    font-size: 2rem;
    text-align: center;
}
.form-control, .btn {
    min-height: 3rem;
    margin: 0 0 1rem;
    border: none;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.error{
    color: red;
    font-size: 2.5rem;
    text-align: center;
}
.success{
    color: green;
    font-size: 2.5rem;
    text-align: center;
}
@media screen and (max-width: 60rem){
	header{
		display: block;
	}
	Header h1{
		font-size: 2.6rem;
        text-align: center;
        
	}
	header img{
		display: block;
		margin: 0 auto;
		max-width: 15rem;
	}
    main .form{
        font-size: 1.8rem; 
        color: white;
        width: 80vw;
        margin: 0 auto;
        transform: translateX(-4%)
    }
    .form input, .form select{
        width: 80vw;
    }
    main .grid-picture-large{
        grid-template-columns: repeat(2, 1fr);
    }
    .remplir{
        transform: translateY(3.8rem);
        width: 15rem;
        font-size: 2rem;
    }
    section h2{
        font-size: 2rem;
    }
}
